# Masters' in Applied Artificial Intelligence
## Machine Learning Algorithms Course

Notebooks to solve Practice 1 Exercise

by [*lufer*](mailto:lufer@ipca.pt)

---

## 0. Setup

Importing necessary libraries

Mount google drive

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [ ]:
#mounting google drive
from google.colab import drive

# it will ask for your google drive credentiaals
drive.mount('/content/gDrive/', force_remount=True)

## Handle the Exercise Questions
### 1. Load the dataset

Car Sales Datatset

In [ ]:
# load the data
filePath="/content/gDrive/MyDrive/MIA/ColabNotebooks/Datasets/"
ds = pd.read_csv(filePath+"car_sales.csv")
# ds = pd.read_csv(url)
# ds.head()

#download from a github url
#the link must pooint for the "raw version" of the intended file
#ds1 = pd.read_csv('https://raw.githubusercontent.com/luferIPCA/MIA-MLA-23-24/master/Exercises/Ex3-DatasetsManipulation/ExampleDataset/test.csv')
#ds1

### 2.	Check its shape! Create manually a new dataframe with similar shape

In [ ]:
ds.shape

*Dataframe* is a 2-dimension data structure. *Series* is a one dimension!

In [ ]:
#Review:
#create a series (array)
marks = pd.Series(["Toyota","Ford","Fiat","Mazda", "BMW"])
#marks
colours = pd.Series(["Red","Red","Blue","Green","White"])
#colours"

In [ ]:
#create manually a dataframe
#option 1
df = pd.DataFrame({"Car Make":["Toyota","Ford"],"Car Colour":["Red","Blue"]})
df

In [ ]:
#what dows this command do? why?
#df = pd.DataFrame({"Car Make":["Toyota","Ford"],"Car Colour":["Red","Blue","Yellow"]})
#Correct it!

In [ ]:
#create manually a dataframe
#option 2
df = pd.DataFrame({"Car Make":marks,"Car Colour":colours})
df

### 3.	Check its data types and its basic statistics

In [ ]:
ds.dtypes
pd.set_option("display.precision", 2)
ds.describe()
#Why descrive explors only Odometer and Doors?

#Note: "describe" works only in numeric values. How to change that?

### 4.	Show graphically the number of kilometres for each car mark

In [ ]:
# importing library to plot
import matplotlib.pyplot as plt
#or
#%matplotlib inline

#see
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html
#https://pythonguides.com/matplotlib-bar-chart-labels/

#option 1
ds.columns
ds['Make'].value_counts().plot(kind='bar',xlabel='Car Marks', ylabel='kilometres', title='Odometer',grid=True,figsize=(5,5))
plt.show()

#option 2
#auxChart = ds['Doors'].plot(kind='bar',xlabel='Car Marks', ylabel='kilometres', title='Odometer',legend=True,grid=True,figsize=(5,5))
#or
#auxChart.set(xlabel="Car Marks", ylabel="Kilometers")

### 5.	Check if there is null values

In [ ]:
#Check it
#option 1 - with info()
#ds.info()

#option 2 - with "describe()"
#ds.describe()

#option 3 - with "value"
ds.values

#Answer: yes, there is! Price and Odometer have null values

## 6.	Correct the null values with default values

There are three type of null values (*Null/None/ Nan Values*)

In [ ]:
#see all null values
dsNulls = ds.isnull()
dsNulls

Replace "Colour" null values by default color ("White")

In [ ]:
dfNulls = ds.copy()

In [ ]:
dfNulls['Colour'].fillna(value="White", inplace=True)
dfNulls

## 7.	Create a new feature corresponding to the cost of the car, but in Euros. Chek the actual dollars rate.

In [ ]:
#reset ds
#ds=ds.drop(columns=['C','B','PriceInt2','PriceInt'])
#ds=ds.drop(columns=['B'])
dsc=ds.copy()

#Note: the column datatype is "object"
#step 1: convert object  to string
dsc['B'] = dsc['Price'].astype("string")

#step 2: remove character '$'
dsc['C'] = dsc['B'].str.replace(r'$', '', regex=True)

#step 3: change ',' by '.'
dsc['C'] = dsc['C'].str.replace(r'\,', '.', regex=True)

#step 4: convert em euros: rate=0.95
try:
  #dsc['D']=pd.to_numeric(dsc['C'])
  dsc['PriceEuros']=pd.to_numeric(dsc['C'])*0.95
except Exception as e:
        print('Cannot convert string to float')
        print (e)
try:
  #delete temporary columns
  dsc= dsc.drop(columns=['B','C'])
except:
  print("Error")
#AQUI

In [ ]:
dsc

In [ ]:

dsc.info()

In [ ]:
#converting currency values
from re import sub
from decimal import Decimal

money = '$6,150,593.22'
value = Decimal(sub(r'[^\d.]', '', money))

In [ ]:
value

## 8.	Expand the dataset with more records.

See https://medium.com/analytics-vidhya/dummy-dataframes-5672216d636

### Overview

In [ ]:
pd.util.testing.makeDataFrame()

In [ ]:
pd.util.testing.makeMixedDataFrame()

In [ ]:
pd.util.testing.makeMissingDataframe()

In [ ]:
#add new records (rows)

numberRecords=20
colors=["Red","White","Blue","Yellow","Green","Black","Rose","Pink","Gray","Brown"]
marks=["Toyota","Ford","Fiat","Citroen"]
dsDummy = pd.DataFrame({
                      "Make": np.random.choice(marks,size=numberRecords),  #size=len(ds)
                      "Odometer" : np.random.randint(low=1000, high=100000, size=numberRecords),
                      "Colour": np.random.choice(colors,size=numberRecords), #size=len(ds)),
                      "Doors": np.random.choice(range(3,6), numberRecords, replace=True),
                      "Price": np.random.choice(np.random.uniform(size = numberRecords, low = 1000, high = 10000),size=numberRecords) #size=len(ds))
                      },
                     columns=ds.columns)

In [ ]:
dsDummy

In [ ]:
ds3=pd.concat([ds,dsDummy])

In [ ]:
ds3

## 9.	Export the resulting datatset to a new file, without indexes.

In [ ]:
ds3.to_csv(filePath+'Ex2newDataSet.csv')